@using RecipesRemixed.Recipes.Models.Chefs
@model RecipesRemixed.Recipes.Models.Chefs.ChefsAllViewModel
@{
    this.ViewData["Title"] = "Chefs";
}
<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr />
<div class="row">
    @foreach (var chef in Model.Chefs)
    {
        <div class="col-md-4 media">
            <a href="/Chefs/@chef.Id">
                @chef.Name
            </a>
        </div>
    }
</div>
@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a asp-controller="Chefs" asp-action="Details" class="btn btn-primary btn-lg">Details</a>
    </div>
    <hr />
    <div class="text-center">
        <a asp-controller="Chefs" asp-action="Create" class="btn btn-primary btn-lg">Create</a>
    </div>
    <div class="text-center">
        <a asp-controller="Chefs" asp-action="Mine" class="btn btn-primary btn-lg">Mine</a>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}