@using RecipesRemixed.Data.Models.Enums;
@model RecipesRemixed.Recipes.Models.Recipes.RecipesInputModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });</script>
<h4>Recipes</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ingredients" class="control-label"></label>
        <textarea asp-for="Ingredients" class="form-control"></textarea>
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instructions" class="control-label"></label>
        <textarea asp-for="Instructions" class="form-control"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Allergies" class="control-label"></label>
        <textarea asp-for="Allergies" class="form-control"></textarea>
        <span asp-validation-for="Allergies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Vegan" class="control-label"></label>
        <input asp-for="Vegan" class="form-control" />
        <span asp-validation-for="Vegan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Vegetarian" class="control-label"></label>
        <input asp-for="Vegetarian" class="form-control" />
        <span asp-validation-for="Vegetarian" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TypeOfDish" class="control-label"></label>
        <select asp-for="TypeOfDish" asp-items="Html.GetEnumSelectList<TypeOfDish>()">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Calories" class="control-label"></label>
        <input asp-for="Calories" class="form-control" />
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>